@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* TYPOGRAPHY */
  /* Variants */
  .TypographyFootnote {
    @apply text-xs font-normal;
  }
  .TypographyCaption {
    @apply text-xs font-bold uppercase;
  }
  .TypographyBody {
    @apply text-md font-normal;
  }
  .TypographyHeading {
    @apply text-md font-bold;
  }
  .TypographySubtitle {
    @apply text-sm font-medium;
  }
  .TypographyTitle {
    @apply text-lg font-bold;
  }
  .TypographyHeadline {
    @apply text-xl font-bold;
  }
  /* Colors */
  .TypographyBehance {
    @apply text-blue-600;
  }
  .TypographyLinkedIn {
    @apply text-sky-600;
  }
  .TypographyGitHub {
    @apply text-slate-950 dark:text-slate-50;
  }
  .TypographyMedium {
    @apply text-zinc-800 dark:text-zinc-200;
  }
  .TypographyMain {
    @apply text-amber-500;
  }
  .TypographyPrimary {
    @apply text-amber-50;
  }
  .TypographySecondary {
    @apply text-amber-50/60;
  }
  /* BUTTON BASE */
  /* Root */
  .ButtonBase {
    @apply TypographyCaption inline-flex items-center;
  }
  /* BUTTON */
  /* Root */
  .Button {
    @apply ButtonBase;
  }
  /* Sizes */
  .ButtonMd {
    @apply h-sm min-w-sm rounded-md px-sm;
  }
  /* Colors */
  .ButtonBehance {
    @apply TypographyBehance bg-blue-600/20 hover:bg-blue-600/40;
  }
  .ButtonLinkedIn {
    @apply TypographyLinkedIn bg-sky-600/20 hover:bg-sky-600/40;
  }
  .ButtonGitHub {
    @apply TypographyGitHub bg-slate-950/20 hover:bg-slate-950/40 dark:bg-slate-50/20 dark:hover:bg-slate-50/40;
  }
  .ButtonMedium {
    @apply TypographyMedium bg-zinc-800/20 hover:bg-zinc-800/40 dark:bg-zinc-200/20 dark:hover:bg-zinc-200/40;
  }
  .ButtonMain {
    @apply TypographyMain bg-amber-500/20 hover:bg-amber-500/40;
  }
  /* ICON */
  /* Root */
  .Icon {
    @apply inline-flex fill-current;
  }
  /* Sizes */
  .IconMd {
    @apply h-xs w-xs;
  }
}

@layer base {
  @font-face {
    font-family: sofia-pro;
    src:
      url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
        format("woff2"),
      url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
        format("woff"),
      url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
        format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
  }
  @font-face {
    font-family: sofia-pro;
    src:
      url("https://use.typekit.net/af/66e20c/00000000000000007735f993/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3")
        format("woff2"),
      url("https://use.typekit.net/af/66e20c/00000000000000007735f993/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3")
        format("woff"),
      url("https://use.typekit.net/af/66e20c/00000000000000007735f993/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3")
        format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 800;
    font-stretch: normal;
  }
  @font-face {
    font-family: sofia-pro;
    src:
      url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
        format("woff2"),
      url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
        format("woff"),
      url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
        format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
  }
  @font-face {
    font-family: sofia-pro;
    src:
      url("https://use.typekit.net/af/c09857/00000000000000007735f98c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
        format("woff2"),
      url("https://use.typekit.net/af/c09857/00000000000000007735f98c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
        format("woff"),
      url("https://use.typekit.net/af/c09857/00000000000000007735f98c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
        format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
  }
}
